

<h1>Create a new article</h1>

<% if @show.errors.any? %> 
  <h2>The following errors prevented the article from being saved</h2> 
  <ul> 
    <% @show.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
    <% end %> 
  </ul>
<% end %>


<%= form_with scope: :article, url: articles_path, local: true do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :des %>
  </p>

  <p>
    <%= f.label :author %><br/>
    <%= f.text_area :author %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %> 



# <html>
# <h1>
# Create new article here :
# <h1>
# <%= form_with url: "/articles/new", method: :get do |form| %>
#     <%= form.label :title, "Title:" %>
#     <br/>
#     <%= form.text_field :title %>
#     <br/>
#     <%= form.label :des, "Description:" %>
#     <br/>
#     <%= form.text_field :des %>
#     <br/>
#     <%= form.label :author, "Author:" %>
#     <br/>
#     <%= form.text_field :author %>
#     <br/>    <br/>

#     <%= form.submit "Save New Article" %>
#   <% end %>

# </html>