<%= render 'messages' %>

<h1>Showing Article Details : 
</h1>
<body>
<ul>
<li>
Title:  <%= @article.title %>
</li>
<li>
Description:  <%= @article.des %>
</li>
<li>
Author:  <%= @article.author %>
</li>
<br> 
</ul>

<%= button_to 'Edit', edit_article_path(@article), method: :get %>

<%= button_to 'Destroy', @article,
              method: :delete,
              data: { "turbo-method": :delete } %>
              
                  
<%= button_to 'Return To Articles', articles_path, method: :get %>
</body>
